@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

h1 {
    font-family: 'Courier Prime';
    font-size: 40px;
}

p {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 16px;
}

footer {
    font-family: 'Courier Prime';
    margin-top: 35%;
    margin-bottom: 0%;
}

header {
    margin-top: -10%;
    margin-bottom: 10%;
}

body {
    text-align: center;
    background-color: #FFFAEF;
    margin: 10%;
}

input {
    background-color: #FFFAEF;
    color: #C2B187;
    border: 5px solid #C2B187;
    padding: 5px 5px;
    
}

.button {
    background-color: #79622B;
    border: none;
    color: #FFFAEF;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
  }

button:hover {
    background-color: #C2B187;
}


.home{
    border: none;
    color: #FFFAEF;
    background-color: #79622B;
    padding: 0px 0px;
    text-align: center;
    display: inline-block;
    font-size: 0px;
}
